<a href="https://colab.research.google.com/github/danbikiki/blu2/blob/master/200818_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

import sklearn 
print(sklearn.__version__)

0.22.2.post1

#1. 개요

###(1) 패키지 불러오기

### (2)데이터 불러오기

In [9]:
from sklearn.datasets import load_iris
iris=load_iris() #bunch 형태의 데이터셋으로 구성

#독립변수 구성된 데이터
iris_data=iris.data

#종속변수
iris_label=iris.target

print('iris target값=',iris_label[[0,50,100]])

iris target값= [0 1 2]

### (3)데이터 전처리
-상황: numpy형태, 리스트
-방법:pandas활용,데이터프레임

In [15]:
import pandas as pd

In [34]:
iris_dataframe=pd.DataFrame(iris_data)
iris_dataframe

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [37]:
iris_dataframe=pd.DataFrame(iris_data,columns={'sepal_length','sepal_width','petal_length','petal_width'})
iris_dataframe

     petal_width  petal_length  sepal_width  sepal_length
0            5.1           3.5          1.4           0.2
1            4.9           3.0          1.4           0.2
2            4.7           3.2          1.3           0.2
3            4.6           3.1          1.5           0.2
4            5.0           3.6          1.4           0.2
..           ...           ...          ...           ...
145          6.7           3.0          5.2           2.3
146          6.3           2.5          5.0           1.9
147          6.5           3.0          5.2           2.0
148          6.2           3.4          5.4           2.3
149          5.9           3.0          5.1           1.8

[150 rows x 4 columns]

In [ ]:
def sklearn_to_df(sklearn dataset):