In [2]:
temp=2

In [3]:
print(temp)

2

In [4]:
temp

2

In [5]:
tempa

NameError: name 'tempa' is not defined

In [7]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335

In [11]:
type(a)
type(2.5)

float

In [12]:
a=7 ; b=3
print(a//b)

2

In [13]:
a=7; b=3
# 묛 구하기
a//b

2

In [14]:
a%b

1

In [15]:
if(i%100==0)

SyntaxError: invalid syntax (<ipython-input-15-e6c50e1ca678>, line 1)

In [16]:
a**b

343

In [17]:
temp='python is easy'
temp

'python is easy'

In [18]:
print(temp)

python is easy

In [19]:
tempa="1"
tempa

'1'

In [20]:
print(tempa)

1

In [ ]:
a.

In [22]:
len(temp)

14

In [25]:
'python'+'is easy'

'pythonis easy'

In [26]:
'python '+'is easy'

'python is easy'

In [28]:
c='python '
d='is easy'
c+d

'python is easy'

In [30]:
type(temp)

str

In [31]:
temp[3]

'h'

In [35]:
temp[7:9]

'is'

In [36]:
temp[3:-3]

'hon is e'

In [38]:
temp[:-2]

'python is ea'

In [39]:
print('11')
print('22')

11
22

In [48]:
temp.split()

['python', 'is', 'easy']

In [49]:
temp.split('s')

['python i', ' ea', 'y']

In [58]:
temp2="python,java,R,sas"
temp3= temp2.split(',')
print(temp3)

['python', 'java', 'R', 'sas']

In [62]:
temp4= ",".join(temp3)
print(temp4)

python,java,R,sas

In [65]:
print('temp3=',len(temp3))
print('temp4=',len(temp4))

temp3= 4
temp4= 17

In [66]:
number=['one','two','three','four']
print(number)

['one', 'two', 'three', 'four']

In [67]:
number_tuple=('one','two','three','four')
print(number_tuple)
list(number_tuple)

('one', 'two', 'three', 'four')

['one', 'two', 'three', 'four']

In [68]:
number=['one','two','three','four']
print(number[1])
print(number[2:4])

two
['three', 'four']

In [69]:
temp[::2]

'pto ses'

In [72]:
number[::3]

['one', 'four']

In [78]:
number[3]="4"
number[0]="one"
print(number)

['one', 'two', 'three', '4']

In [85]:
number.append('five')
print(number)

['one', 'two', 'three', '4', 'five', 'five', 'five', 'five']

In [86]:
del number[4]
number
print(number)

['one', 'two', 'three', '4', 'five', 'five', 'five']

In [87]:
number.remove('five')
print(number)

['one', 'two', 'three', '4', 'five', 'five']

In [90]:
number1=['one','two','three','four']
number2=['six','seven','eight',"nine"]
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [91]:
newnumber=sorted(number)
print(newnumber)
print(number)

['4', 'five', 'five', 'one', 'three', 'two']
['one', 'two', 'three', '4', 'five', 'five']

In [93]:
number.sort()
print(number)

['4', 'five', 'five', 'one', 'three', 'two']

In [94]:
number=(1,2,3,4)
print(number)
type(number)

(1, 2, 3, 4)

tuple

In [95]:
number[1]=4

TypeError: 'tuple' object does not support item assignment

In [99]:
fruit_price=[["apple",3500],['peer',2500],['cherry',5000]]
fruit_price=dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [100]:
fruit_price ={'apple':3500, 'peer':2500, 'cherry':5000}
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [101]:
fruit_price.keys()

dict_keys(['apple', 'peer', 'cherry'])

In [104]:
school_class= {1:['mina','jane','mark'],2:['peter', 'pay', 'parker'], 3:['pay','joy','conan']}
school_class.keys()

dict_keys([1, 2, 3])

In [103]:
school_class[2]

['peter', 'pay', 'parker']

In [105]:
school_class.get(2)

['peter', 'pay', 'parker']

In [106]:
school_class.values()

dict_values([['mina', 'jane', 'mark'], ['peter', 'pay', 'parker'], ['pay', 'joy', 'conan']])

In [107]:
school_class.items()

dict_items([(1, ['mina', 'jane', 'mark']), (2, ['peter', 'pay', 'parker']), (3, ['pay', 'joy', 'conan'])])

In [108]:
others={'banana':3200, 'grape':2000}
fruit_price.update(others)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [109]:
del fruit_price['apple']
print(fruit_price)

{'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [113]:
other_class={4:['john','eric','terry']}
school_class.update(other_class)
print(school_class)

{4: ['john', 'eric', 'terry']}

In [114]:
school_class = {1: ['mina','jane','mark'], 2 : ['peter','pay','parker']}

In [118]:
other_class={4:['john','eric','terry']}
school_class.update(other_class)
print(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker'], 4: ['john', 'eric', 'terry']}

In [123]:
a=10
b=20
c=30
a==b

False

In [124]:
a!=b

True

In [125]:
a<b

True

In [126]:
a<=b

True

In [127]:
a>=b

False

In [131]:
a==b and a==c

False

In [132]:
a==c&a==b

False

In [133]:
a==b or a==c

False

In [134]:
a==b|a==c

False

In [135]:
not a==b

True

In [136]:
a is b

False

In [137]:
a is not b

True

In [138]:
a is a

True

In [147]:
python= 2
if(python): 
    print("조건문이 참입니다.") 
else: 
    print('조건문이 참이 아닙니다')

조건문이 참입니다.

In [151]:
python=False
pycharm=False
if(python):
    print("1st true")
elif(pycharm): 
    print("1st false but 2nd true")
else: 
    print('All False')

All False

In [1]:
input("숫자를 입력하세요?")

숫자를 입력하세요?2

'2'

In [1]:
x=int(input("숫자를 입력하세요?"))
print("숫자는= ",x)

숫자를 입력하세요?123
숫자는=  123

In [2]:
if(x%2==0) : print("짝수")
else:  print("홀수")

홀수

In [ ]:
score=int(input("점수를 입력하세요?"))

In [ ]:
if(score>80): print("A")
elif(score<=80 and score>70): print("B")
elif(score<=70 and score>60): print("C")
else : print("D")

In [ ]:
score=int(input("점수를 입력하세요?"))
if score>80: degree="A"
    elif(score>70 and score<=80): degree="B"
    elif(score<=70 and score>60): degree="C"
    else: degree="D"
        print("점수는=", score, "등급은=", degree)

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
range(1,10)

range(1, 10)

In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,30,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [5]:
fruit= ["apple","peer","cherry"]
type(fruit)

list

In [6]:
for i in fruit: print("i=",i)

i= apple
i= peer
i= cherry

In [10]:
score=int(input("점수를 입력하세요?"))
print('숫자는=',score)

점수를 입력하세요?78
숫자는= 78

In [12]:
if(score%2==0) : print("짝수")
else:  print("홀수")

짝수

In [68]:
fruit_price={'apple':3500,'peer':2500,"cherry":5000}
for K in fruit_price.items():
    print(K)

('apple', 3500)
('peer', 2500)
('cherry', 5000)

In [35]:
fruit_price={'apple':3500,'peer':2500,'peach':5000}
for i in fruit_price.items():
    print("item=",i)
    print('name=',i[0],'price=',i[1])

item= ('apple', 3500)
name= apple price= 3500
item= ('peer', 2500)
name= peer price= 2500
item= ('peach', 5000)
name= peach price= 5000

In [38]:
fruit_price={'apple':["a1","a2"],"peach":["b1",'b2'],"grape":["c1","c2"]}
for i in fruit_price.items():
    print('name=', i[0],'price1=',i[1][0],"price2=",i[1][1])
    print("*"*40)

name= apple price1= a1 price2= a2
****************************************
name= peach price1= b1 price2= b2
****************************************
name= grape price1= c1 price2= c2
****************************************

In [46]:
high_price=[]
low_price=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    if item[1]>3000: high_price.append(item[0])
        else:low_price.append(item[0])
            print(high_price)
            print(low_price)

IndentationError: unexpected indent (<ipython-input-46-d37e3d0ea922>, line 6)

In [57]:
high_price=[]
low_price=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for item in fruit_price.items():
    if item[1]>3000:high_price.append(item[0])
    else:low_price.append(item[0])
print(high_price)
print(low_price)

['apple', 'cherry']
['peer']

In [67]:
high_price=[]
low_price=[]
fruit_price={'apple':3500,'peer':2500,'cherry':5000}
for i, key in enumerate(fruit_price.keys()):
     print("번호=",i,'과일=',key)
        
print('item[0]=',item[0],"item[1]=",item[1])
if item[1]>3000:high_price.append(item[0])
else:low_price.append(item[0])
print(high_price)
print(low_price)

번호= 0 과일= apple
번호= 1 과일= peer
번호= 2 과일= cherry
item[0]= cherry item[1]= 5000
['cherry']
[]

In [78]:
fruit_price={"strawberry":2000,"peach":3000,"grape":5000}
for k in fruit_price.values():
    print("가격=",k)

가격= 2000
가격= 3000
가격= 5000

In [162]:
score=[50,85,97,30,88]
for i in score:
    print("before=",i)
    if (i> 80): degree="A"
    elif (i> 70 and i <=80): degree="B"
    elif(i> 60 and i <=70): degree="C"
    else: degree="D"
    print("점수=",i,"등급=",degree)

before= 50
점수= 50 등급= D
before= 85
점수= 85 등급= A
before= 97
점수= 97 등급= A
before= 30
점수= 30 등급= D
before= 88
점수= 88 등급= A

In [164]:
score=[50,85,97,30,88]
for w,i in enumerate(score):
    if (i>80): degree="A"
    elif(i>70 and i<=80): degree="B"
    elif(i<=70 and i>60): degree="C"
    else: degree="D"
    print("점수는=", i, "등급은=", degree)

점수는= 50 등급은= D
점수는= 85 등급은= A
점수는= 97 등급은= A
점수는= 30 등급은= D
점수는= 88 등급은= A

In [130]:
fruit=open("c:/김단비/fruit.txt","wt")
fruit_price={"apple":3500,"pear":2500,"cherry":5000}
for item in fruit_price.items():
     print(item,file=fruit)
fruit.close()

In [134]:
fruit=open('c:/김단비/fruit2.txt','wt')
fruit.write('apple 3500\n')
fruit.write('pear 2500\n')
fruit.write('grape 5000\n')
fruit.close()

In [138]:
import csv
with open('c:/김단비/fruit3.csv','w',newline='')as fruit:
    writer=csv.writer(fruit,delimiter=',')
    writer.writerow(['apple'])
    writer.writerow(['pear'])
    writer.writerow(['cherry'])
    writer.writerow(['banana'])
    writer.writerow(['peach'])

In [140]:
fruit_path=open('c:/김단비/fruit.txt','rt')
fruit_path
fruit=fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('pear', 2500)\n", "('cherry', 5000)\n"]

In [149]:
f=open('c:/김단비/fruit3.csv','rt')
csvRead=csv.reader(f)
csvRead

fruit=[]
for i in csvRead:
    fruit.append(i)
    print(i)
print("fruit=",fruit)

['apple']
['pear']
['cherry']
['banana']
['peach']
fruit= [['apple'], ['pear'], ['cherry'], ['banana'], ['peach']]

In [167]:
f=open('worklife','w')

In [170]:
with open('worklife') as f:
    read_data=f.read()

In [171]:
a="아경"
print("{} 청년 아카데미".format(a))

아경 청년 아카데미

In [174]:
a="청년"
print("아경 %s 아카데미"%a)

아경 청년 아카데미

In [175]:
a="청년"
b="데미"
print("아경 %s 아카 %s"%(a,b))

아경 청년 아카 데미