In [8]:
x=int(input("여기에 입력하시오:"))
if x<0 : 
    print("negative changed to zero")
elif x==0: 
        print('zero')
else:
            print('more')

여기에 입력하시오:42
more

In [26]:
words=['cat','window','desk']
for w in words:
    print("things=",w)

things= cat
things= window
things= desk

In [28]:
range(0,10)

range(0, 10)

In [30]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
school_class = {1: ['mina','jane','mark'], 2 : ['peter','pay','parker'], 3 : ['pay','joy','conan'] }
school_class[1]

['mina', 'jane', 'mark']

In [43]:
fruit_price = {'apple' : 3500, 'peer' :  2500, 'cherry' : 5000}
fruit_price[0]

KeyError: 0

In [49]:
fruit = ['apple','peer','cherry']
for f in fruit:
    print("과일=",f)

과일= apple
과일= peer
과일= cherry

In [55]:
fruit = open('c:/김단비/lala.txt','wt') 
lala ={'apple' : 3500, 'peer' :  2500, 'cherry' : 5000} 
for item in lala.items():
      print(item,file=fruit)
fruit.close()

In [57]:
treehit=0
while treehit<10:
    treehit= treehit+1
    print("나무를 %d번 찍었습니다."%treehit)
    if treehit==10: 
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [58]:
import csv
with open('c:/김단비/lala.csv','w',newline=

SyntaxError: unexpected EOF while parsing (<ipython-input-58-d805c3cf606b>, line 2)

In [64]:
x= list(range(1,101))
for i in x:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100