In [1]:
a=1 ;b=2
a+b

3

In [9]:
x="961122-2192412"
print(x[:6])

961122

In [6]:
rnn="961122-2192412"
yymmdd=rnn[0:6]
num=rnn[7:]
print(yymmdd)
print(num)

961122
2192412

In [19]:
a="20010331Rainy"
date=a[:8]
weather=a[8:]
print(date)
print(weather)

20010331
Rainy

In [15]:
a="pithon"
new=a[:1] +"y"+a[2:]
print(new)

python

In [19]:
a=[1,2,['a','b',['Life','is']]]
print(a)
a[2][2][0]

[1, 2, ['a', 'b', ['Life', 'is']]]

In [25]:
k=80
e=75
m=55
average=(k+e+m)/3
print(average)

70.0

In [ ]:
x=input("숫자를 입력하세요?")

In [ ]:
x=input("숫자를 입력하세요?")

In [8]:
x=int(input("숫자를 입력하세요?"))

숫자를 입력하세요?12

In [10]:
if (x%2==0) : print("짝수")
else: print("홀수")

짝수

In [ ]:
x=input("숫자를 입력하세요?")

In [7]:
val=[1,4,7,132]
for i in val:
    if(i%2==0): print("i={}는 짝수".format(i))
    else: print("i={}는 홀수".format(i))

i=1는 홀수
i=4는 짝수
i=7는 홀수
i=132는 짝수

In [12]:
a=[1,2,['a','b',['Life','is']]]
a[0]

1

In [13]:
a[1]

2

In [15]:
a[2]

['a', 'b', ['Life', 'is']]

In [16]:
a="20010331Rainy"
a[0]

'2'

In [17]:
a[7]

'1'

In [20]:
def my_func():
    print("my first fun!")
    print("my first fun!")

In [22]:
my_func()

my first fun!
my first fun!

In [23]:
def my_friend(name): print('{}는 나의 친구'.format(name) )

In [25]:
my_friend("홍길동")

홍길동는 나의 친구

In [27]:
aa=["김단비",'홍길동','금춘이']
for i in aa :print(my_friend(i))

김단비는 나의 친구
None
홍길동는 나의 친구
None
금춘이는 나의 친구
None

In [28]:
def my_info(name,id,number):
    print("이름=",name)
    print("아이디=",id)
    print("번호=",number)

In [29]:
my_info("길동","123","1234-345")

이름= 길동
아이디= 123
번호= 1234-345

In [38]:
def my_calc(x,y):
     z=x*y
        return z

IndentationError: unexpected indent (<ipython-input-38-f11265cfdb54>, line 3)

In [39]:
my_calc(3,5)

15

In [3]:
def sum_many(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum

In [4]:
sum_many(1,2,3)

6

In [5]:
import selenium
from bs4 import BeautifulSoup

ModuleNotFoundError: No module named 'selenium'

In [6]:
from bs4 import BeautifulSoup

In [7]:
import selenium

In [8]:
dir(selenium)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__']

In [9]:
print("version=",selenium.__version__)

version= 3.141.0

In [10]:
!

In [15]:
from pandas import Series, DataFrame

In [18]:
fruit=Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [26]:
import pandas as pd
fruit=pd.Series(data=[2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [24]:
snack=Series(data=[1000,2000,3000,4000],index=["새우깡",'초코칩','허니버터칩','바보'])
print(snack)

새우깡      1000
초코칩      2000
허니버터칩    3000
바보       4000
dtype: int64

In [28]:
fruit=pd.Series(data=[2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [32]:
fruitData={'apple':2500,'peer':1200,'banana':3800,'cherry':6000}
fruit=Series(fruitData)
type(fruitData)
type(fruit)

pandas.core.series.Series

In [33]:
type(fruitData)

dict

In [36]:
fruit=pd.Series(data=[2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
fruit.name='fruitPrice'
fruit.index.name='fruit.Name'
print(fruit)

fruit.Name
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [38]:
fruitData={'fruitName':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
           'num':[10,5,3,8]}

fruitFrame=DataFrame(fruitData)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [43]:
snack={'snackname':['새우깡','초코칩','짱구'],
       'snackprice':[2000,3000,1000],
       'num':[3,2,1]}
snackframe=DataFrame(snack)
print(snackframe)

  snackname  snackprice  num
0       새우깡        2000    3
1       초코칩        3000    2
2        짱구        1000    1

In [45]:
fruitData={'fruitName':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
           'num':[10,5,3,8]}
fruitFrame=DataFrame(fruitData,columns=['fruitPrice','num','fruitName'])
print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [46]:
fruitFrame['num']

0    10
1     5
2     3
3     8
Name: num, dtype: int64

In [47]:
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [49]:
fruitFrame['year']=2016
print(fruitFrame)

   fruitPrice  num fruitName  year
0        2500   10     apple  2016
1        3800    5    banana  2016
2        6000    3    cherry  2016
3        1200    8      peer  2016

In [50]:
variable=Series([4,2,1],index=[0,2,3])
fruitFrame['stock']=variable
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2016    NaN
2        6000    3    cherry  2016    2.0
3        1200    8      peer  2016    1.0

In [51]:
fruit=pd.Series(data=[2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
new_fruit=fruit.drop('banana')
print(fruit)
print(new_fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64
apple     2500
peer      1200
cherry    6000
dtype: int64

In [58]:
fruitData={'haha':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
           'num':[10,5,3,8]}
fruitName=fruitData['haha']
fruitFrame=DataFrame(fruitData,index=fruitName,columns=['fruitPrice','num'])
fruitFrame2=fruitFrame.drop(['apple','cherry'])
print(fruitFrame2)

        fruitPrice  num
banana        3800    5
peer          1200    8

In [68]:
fruitFrame3=fruitFrame.drop('banana',axis=0,inplace=True)
print(fruitFrame)
print(fruitFrame3)

KeyError: "['banana'] not found in axis"

In [70]:
fruit=Series([2500,3800,1200,6000],index=["apple",'banana','peer','cherry'])
fruit['apple':'peer']

apple     2500
banana    3800
peer      1200
dtype: int64

In [78]:
fruitData={'fruitName':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
           'num':[10,5,3,8]}

fruitName=fruitData['fruitName']
fruitFrame=DataFrame(fruitData,index=fruitName,columns=['fruitPrice','num'])
print(fruitFrame)
fruitFrame['fruitPrice']
fruitFrame['apple':'banana']

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

        fruitPrice  num
apple         2500   10
banana        3800    5

In [79]:
fruitFrame['fruitPrice']

apple     2500
banana    3800
cherry    6000
peer      1200
Name: fruitPrice, dtype: int64

In [80]:
snack={'snackname':['새우깡','초코칩','짱구'],
       'snackprice':[2000,3000,1000],
       'num':[3,2,1]}
snackframe=DataFrame(snack)
print(snackframe)

  snackname  snackprice  num
0       새우깡        2000    3
1       초코칩        3000    2
2        짱구        1000    1

In [85]:
snackframe['snackname']

0    새우깡
1    초코칩
2     짱구
Name: snackname, dtype: object

In [86]:
snackframe['year']=Series([2016,2014,2015],index=[0,1,2])
print(snackframe)

  snackname  snackprice  num  year
0       새우깡        2000    3  2016
1       초코칩        3000    2  2014
2        짱구        1000    1  2015

In [98]:
GDP={'year':[2016,2017,2018],'GDP rate':[2.8,3.1,3.0],"GDP":[1.63,1.73,1.83]}
GDPFrame=DataFrame(GDP,columns=["GDP","GDP rate","year"],index=GDP)
GDPFrame['country']=Series([1,2,3],index=[0,1,2])
print(GDPFrame)

           GDP  GDP rate  year  country
year      1.63       2.8  2016      NaN
GDP rate  1.73       3.1  2017      NaN
GDP       1.83       3.0  2018      NaN

In [99]:
fruit1=Series([5,9,10,3],index=["apple",'banana','peer','cherry'])
fruit2=Series([3,2,9,5],index=["apple",'banana','orange','cherry'])
print(fruit1)
print(fruit2)
fruit1+fruit2

apple      5
banana     9
peer      10
cherry     3
dtype: int64
apple     3
banana    2
orange    9
cherry    5
dtype: int64

apple      8.0
banana    11.0
cherry     8.0
orange     NaN
peer       NaN
dtype: float64

In [102]:
fruitData1={'ohio':[4,8,3,5],'texas':[0,1,2,3]}
fruitData2={'ohio':[3,0,2,1,7],'colorado':[5,4,3,6,0]}
fruitframe1=DataFrame(fruitData1,index=["apple",'banana','cherry','peer'])
fruitframe2=DataFrame(fruitData2,index=["apple",'orange','banana','cherry','mango'])
print(fruitframe1)
print(fruitframe2)
print(fruitframe1+fruitframe2)

        ohio  texas
apple      4      0
banana     8      1
cherry     3      2
peer       5      3
        ohio  colorado
apple      3         5
orange     0         4
banana     2         3
cherry     1         6
mango      7         0
        colorado  ohio  texas
apple        NaN   7.0    NaN
banana       NaN  10.0    NaN
cherry       NaN   4.0    NaN
mango        NaN   NaN    NaN
orange       NaN   NaN    NaN
peer         NaN   NaN    NaN

In [104]:
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry']) 
fruit.sort_values(ascending=True)

peer      1200
apple     2500
banana    3800
cherry    6000
dtype: int64

In [112]:
fruitData = {'fruitName':['peer','banana','apple','cherry'], 'fruitPrice':[2500,3800,6000,1200], 'num':[10,5,3,8]} 
fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['num','fruitPrice'])
print(fruitFrame)
fruitFrame.sort_index()

        num  fruitPrice
peer     10        2500
banana    5        3800
apple     3        6000
cherry    8        1200

        fruitPrice  num
peer          2500   10
banana        3800    5
apple         6000    3
cherry        1200    8

In [113]:
fruitFrame.sort_index(axis=1)

        fruitPrice  num
peer          2500   10
banana        3800    5
apple         6000    3
cherry        1200    8

In [115]:
fruitFrame.sort_values(by=['num'])

        num  fruitPrice
apple     3        6000
banana    5        3800
cherry    8        1200
peer     10        2500

In [116]:
german=pd.read_csv("http://freakonometrics.free.fr/german_credit.csv")
list(german.columns.values)

['Creditability',
 'Account Balance',
 'Duration of Credit (month)',
 'Payment Status of Previous Credit',
 'Purpose',
 'Credit Amount',
 'Value Savings/Stocks',
 'Length of current employment',
 'Instalment per cent',
 'Sex & Marital Status',
 'Guarantors',
 'Duration in Current address',
 'Most valuable available asset',
 'Age (years)',
 'Concurrent Credits',
 'Type of apartment',
 'No of Credits at this Bank',
 'Occupation',
 'No of dependents',
 'Telephone',
 'Foreign Worker']

In [3]:
german.head(3)

NameError: name 'german' is not defined

In [121]:
german.shape

(1000, 21)

In [122]:
german.info

<bound method DataFrame.info of      Creditability  Account Balance  Duration of Credit (month)  \
0                1                1                          18
1                1                1                           9
2                1                2                          12
3                1                1                          12
4                1                1                          12
..             ...              ...                         ...
995              0                1                          24
996              0                1                          24
997              0                4                          21
998              0                2                          12
999              0                1                          30

     Payment Status of Previous Credit  Purpose  Credit Amount  \
0                                    4        2           1049
1                                    4        0           2799
2                                    2        9            841
3                                    4        0           2122
4                                    4        0           2171
..                                 ...      ...            ...
995                                  2        3           1987
996                                  2        0           2303
997                                  4        0          12680
998                                  2        3           6468
999                                  2        2           6350

     Value Savings/Stocks  Length of current employment  Instalment per cent  \
0                       1                             2                    4
1                       1                             3                    2
2                       2                             4                    2
3                       1                             3                    3
4                       1                             3                    4
..                    ...                           ...                  ...
995                     1                             3                    2
996                     1                             5                    4
997                     5                             5                    4
998                     5                             1                    2
999                     5                             5                    4

     Sex & Marital Status  ...  Duration in Current address  \
0                       2  ...                            4
1                       3  ...                            2
2                       2  ...                            4
3                       3  ...                            2
4                       3  ...                            4
..                    ...  ...                          ...
995                     3  ...                            4
996                     3  ...                            1
997                     3  ...                            4
998                     3  ...                            1
999                     3  ...                            4

     Most valuable available asset  Age (years)  Concurrent Credits  \
0                                2           21                   3
1                                1           36                   3
2                                1           23                   3
3                                1           39                   3
4                                2           38                   1
..                             ...          ...                 ...
995                              1           21                   3
996                              1           45                   3
997                              4           30                   3
998                              4           52                   3
999                              2           31                   3

     Type of apartment  No of Credits at this Bank  Occupation  \
0                    1                           1           3
1                    1                           2           3
2                    1                           1           2
3                    1                           2           2
4                    2                           2           2
..                 ...                         ...         ...
995                  1                           1           2
996                  2                           1           3
997                  3                           1           4
998                  2                           1           4
999                  2                           1           3

     No of dependents  Telephone  Foreign Worker
0                   1          1               1
1                   2          1               1
2                   1          1               1
3                   2          1               2
4                   1          1               2
..                ...        ...             ...
995                 2          1               1
996                 1          1               1
997                 1          2               1
998                 1          2               1
999                 1          1               1

[1000 rows x 21 columns]>

In [131]:
german_sample=german[['Creditability','Duration of Credit (month)','Purpose',"Credit Amount"]]

In [127]:
german_sample.min()

Creditability                   0
Duration of Credit (month)      4
Purpose                         0
Credit Amount                 250
dtype: int64

In [128]:
german_sample.max()

Creditability                     1
Duration of Credit (month)       72
Purpose                          10
Credit Amount                 18424
dtype: int64

In [129]:
german_sample.mean()

Creditability                    0.700
Duration of Credit (month)      20.903
Purpose                          2.828
Credit Amount                 3271.248
dtype: float64

In [132]:
german_sample=german[['Duration of Credit (month)', 'Credit Amount','Age (years)']]
german_sample.cov()

,Duration of Credit (month),Credit Amount,Age (years)
Duration of Credit (month),145.415006,2.127401e+04,-5.140567
Credit Amount,21274.007063,7.967927e+06,1034.202787
Age (years),-5.140567,1.034203e+03,128.883119

In [133]:
german_sample.corr()

,Duration of Credit (month),Credit Amount,Age (years)
Duration of Credit (month),1.000000,0.624988,-0.037550
Credit Amount,0.624988,1.000000,0.032273
Age (years),-0.037550,0.032273,1.000000

In [139]:
german_sample=german[['Credit Amount','Type of apartment']]
german_grouped=german_sample['Credit Amount'].groupby(german_sample["Type of apartment"])
german_grouped.mean()

Type of apartment
1    3122.553073
2    3067.257703
3    4881.205607
Name: Credit Amount, dtype: float64

In [142]:
german_sample=german[['Credit Amount','Purpose','Type of apartment']]
german_grouped2=german_sample['Credit Amount'].groupby([german_sample['Purpose'],german_sample["Type of apartment"]])
german_grouped2.mean()

Purpose  Type of apartment
0        1                    2597.225000
         2                    2811.024242
         3                    5138.689655
1        1                    5037.086957
         2                    4915.222222
         3                    6609.923077
2        1                    2727.354167
         2                    3107.450820
         3                    4100.181818
3        1                    2199.763158
         2                    2540.533040
         3                    2417.333333
4        1                    1255.500000
         2                    1546.500000
5        1                    1522.000000
         2                    2866.000000
         3                    2750.666667
6        1                    3156.444444
         2                    2492.423077
         3                    4387.266667
8        1                     902.000000
         2                    1243.875000
9        1                    5614.125000
         2                    3800.592105
         3                    4931.800000
10       2                    8576.111111
         3                    7109.000000
Name: Credit Amount, dtype: float64

In [150]:
german_sample=german[['Type of apartment','Sex & Marital Status',"Credit Amount"]]
for i, group in german_sample.groupby('Type of apartment'):
    print(i)
    print(group.head(n=3))

1
   Type of apartment  Sex & Marital Status  Credit Amount
0                  1                     2           1049
1                  1                     3           2799
2                  1                     2            841
2
   Type of apartment  Sex & Marital Status  Credit Amount
4                  2                     3           2171
6                  2                     3           3398
7                  2                     3           1361
3
    Type of apartment  Sex & Marital Status  Credit Amount
29                  3                     3           4796
44                  3                     3           1239
69                  3                     3           2032

In [148]:
german_sample=german[['Type of apartment','Sex & Marital Status',"Credit Amount"]]
for(type,sex),group in german_sample.groupby(['Type of apartment','Sex & Marital Status']):
    print((type,sex))
    print(group.head(n=3))

(1, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
369                  1                     1           3021
777                  1                     1           3384
797                  1                     1           2319
(1, 2)
   Type of apartment  Sex & Marital Status  Credit Amount
0                  1                     2           1049
2                  1                     2            841
9                  1                     2           3758
(1, 3)
   Type of apartment  Sex & Marital Status  Credit Amount
1                  1                     3           2799
3                  1                     3           2122
5                  1                     3           2241
(1, 4)
    Type of apartment  Sex & Marital Status  Credit Amount
11                  1                     4           6187
14                  1                     4           1936
17                  1                     4           3213
(2, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
50                   2                     1            640
97                   2                     1           4455
112                  2                     1           2366
(2, 2)
    Type of apartment  Sex & Marital Status  Credit Amount
8                   2                     2           1098
12                  2                     2           1957
33                  2                     2           1376
(2, 3)
   Type of apartment  Sex & Marital Status  Credit Amount
4                  2                     3           2171
6                  2                     3           3398
7                  2                     3           1361
(2, 4)
    Type of apartment  Sex & Marital Status  Credit Amount
48                  2                     4           1474
57                  2                     4           1053
78                  2                     4           1602
(3, 1)
     Type of apartment  Sex & Marital Status  Credit Amount
620                  3                     1           9277
749                  3                     1           2892
784                  3                     1           2149
(3, 2)
     Type of apartment  Sex & Marital Status  Credit Amount
423                  3                     2           2133
453                  3                     2           5743
467                  3                     2           5324
(3, 3)
    Type of apartment  Sex & Marital Status  Credit Amount
29                  3                     3           4796
44                  3                     3           1239
69                  3                     3           2032
(3, 4)
     Type of apartment  Sex & Marital Status  Credit Amount
125                  3                     4           5103

In [153]:
for i, group in german_sample.groupby('Type of apartment'):
    print(i)
    print(group.head(n=10))

1
    Type of apartment  Sex & Marital Status  Credit Amount
0                   1                     2           1049
1                   1                     3           2799
2                   1                     2            841
3                   1                     3           2122
5                   1                     3           2241
9                   1                     2           3758
10                  1                     3           3905
11                  1                     4           6187
14                  1                     4           1936
15                  1                     3           2647
2
    Type of apartment  Sex & Marital Status  Credit Amount
4                   2                     3           2171
6                   2                     3           3398
7                   2                     3           1361
8                   2                     2           1098
12                  2                     2           1957
13                  2                     3           7582
16                  2                     3           3939
18                  2                     3           2337
19                  2                     3           7228
21                  2                     3           3124
3
     Type of apartment  Sex & Marital Status  Credit Amount
29                   3                     3           4796
44                   3                     3           1239
69                   3                     3           2032
125                  3                     4           5103
146                  3                     3           2964
152                  3                     3           8858
163                  3                     3           3343
208                  3                     3          12169
220                  3                     3           1940
288                  3                     3           2507