In [58]:
val=[1,9,"one",'two',3,'three']
val.remove('three')
val.append('kdb')
print(val)

[1, 9, 'one', 'two', 3, 'kdb']

In [90]:
val=[1,9,"one",'two',3,'three']
val[-1]="kdb"

for i in range(len(val)):
     if type(val[i])==str:
            alpha=i
            break
            
print(val[-4],val[alpha])

one one

In [59]:
number=val[-4]
print(number)

one

In [79]:
number=[7,2,1,8,9,10]
number.sort(reverse=True)
number_new=number[0]
print(number_new)

10

In [87]:
number=[7,2,1,8,9,10]
maxValue=number[0]
for i in range(1,len(number)):
    if maxValue<number[i]:
        maxValue=number[i]
print(maxValue)

10

In [103]:
val=[1,9,"one",'two',3,'three']
for i in val:
    if type(val)==str:
        alpha=i
        break
print(val[alpha])

one

In [ ]:
x=int(input("온도입력"))
F=(9/5)*x)+32

In [4]:
x=float(input("온도"))
F=((9/5)*x)+32
print(F)

온도12.5
54.5

In [5]:
val=[1,9,"one",'two',3,'three']
val.insert(2,'hehe')
print(val)

[1, 9, 'hehe', 'one', 'two', 3, 'three']

In [10]:
val=[1,9,"one",'two',3,'three']
val.pop[2]
print(val)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [12]:
a=100; a
id(a)

140720046556032

In [15]:
a=100
b=a
print(id(a))
print(id(b))

140720046556032
140720046556032

In [17]:
number=[100,200,300]
number.copy()

[100, 200, 300]

In [21]:
fruits=['orange','apple','banana','kiwi','apple','banana']
fruits.index("banana")

2

In [25]:
fruits.insert(1,'peer')
print(fruits)

['orange', 'peer', 'peer', 'peer', 'peer', 'apple', 'banana', 'kiwi', 'apple', 'banana']

In [28]:
fruits.remove("peer")

In [29]:
print(fruits)

['orange', 'peer', 'apple', 'banana', 'kiwi', 'apple', 'banana']

In [30]:
fruits.sort()

In [31]:
print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'peer']

In [33]:
sorted(fruits)
print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'peer']

In [34]:
fruits.append('meme')
print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'peer', 'meme']

In [35]:
stac=[3,4,5]
stac.pop()

5

In [37]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange") 
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [39]:
x = abs(-7.25)
print(x)

7.25

In [44]:
mylist = "1"
x = all(mylist)
print(x)

True

In [45]:
x = ascii("My name is Ståle")
print(x)

'My name is St\xe5le'

In [46]:
x = bin(36)
print(x)

0b100100

In [47]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'name']

In [49]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [53]:
x = 'print(55)'
eval(x)

55

In [54]:
x="print(33)"
eval(x)

33

In [67]:
ages = [5, 12, 17, 18, 24, 32]
def myFunc(x):
if x < 18:
    return False
else:
    return True
adults = filter(myFunc, ages)

for x in adults:
    print(x)

IndentationError: expected an indented block (<ipython-input-67-150357419767>, line 3)

In [71]:
def myfunc(n):
    return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry')) 

print(list(x))

[5, 6, 6]

In [77]:
a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = zip(a,b) 
print(list(x))

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [78]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [80]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

setattr(Person, 'age', 40)
x=getattr(Person,'age')
print(x)

40

In [81]:
x = set(('apple', 'banana', 'cherry')) 
print(x)

{'cherry', 'apple', 'banana'}

In [82]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
  print(x)

d
c
b
a

In [90]:
x = ord("h") 
print(x)

104

In [94]:
x=pow(2,4)
print(x)

16

In [97]:
x=max([1,4,6,2,7,98])
print(x)

98

In [103]:
x=iter([1,"apple",3.4])
print(next(x))
print(next(x))

1
apple

In [104]:
x = isinstance(5, int) 
print(x)

True

In [105]:
x=isinstance(10,str)
print(x)

False

In [106]:
x = globals()
print(x["__file__"])

KeyError: '__file__'

In [108]:
x = ('key1', 'key2', 'key3')
y =[1,2,3]

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': [1, 2, 3]}

In [ ]:
set(('banana','peer','apple','coral'))
set(())

In [111]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [112]:
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)
txt4="My name is {1}, I am {0}".format("John",36)
print('1=',txt1)
print('2=',txt2)
print('3=',txt3)
print('4=',txt4)

1= My name is John, I'am 36
2= My name is John, I'am 36
3= My name is John, I'am 36
4= My name is 36, I am John

In [5]:
import pandas as pd
left=pd.DataFrame({'key':['foo','foo'],'1va1':[1,2]})
right=pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})

In [6]:
pd.merge(left,right,on='key')

   key  1va1  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [9]:
import numpy as np
df=pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -2.058566 -1.795065 -1.583517 -0.176191
1 -0.629610 -0.492997 -1.149817  1.196575
2 -0.808228 -1.191519 -0.052189 -1.355869
3  0.040598 -0.195754  1.642718  1.029861
4 -1.257227 -1.750461  1.522975 -2.165157
5  1.096806 -0.732777  0.170063  0.107577
6  0.067573  0.661959 -0.808827  0.575309
7 -0.023490 -0.577362 -1.256244  0.896656
8 -1.203063  0.952402  2.100017 -0.893552
9 -0.190508 -0.346025 -0.575513  0.386218

In [13]:
pieces=[df[:3],df[3:7],df[7:]]
df

          0         1         2         3
0 -2.058566 -1.795065 -1.583517 -0.176191
1 -0.629610 -0.492997 -1.149817  1.196575
2 -0.808228 -1.191519 -0.052189 -1.355869
3  0.040598 -0.195754  1.642718  1.029861
4 -1.257227 -1.750461  1.522975 -2.165157
5  1.096806 -0.732777  0.170063  0.107577
6  0.067573  0.661959 -0.808827  0.575309
7 -0.023490 -0.577362 -1.256244  0.896656
8 -1.203063  0.952402  2.100017 -0.893552
9 -0.190508 -0.346025 -0.575513  0.386218

In [14]:
pd.concat(pieces)

          0         1         2         3
0 -2.058566 -1.795065 -1.583517 -0.176191
1 -0.629610 -0.492997 -1.149817  1.196575
2 -0.808228 -1.191519 -0.052189 -1.355869
3  0.040598 -0.195754  1.642718  1.029861
4 -1.257227 -1.750461  1.522975 -2.165157
5  1.096806 -0.732777  0.170063  0.107577
6  0.067573  0.661959 -0.808827  0.575309
7 -0.023490 -0.577362 -1.256244  0.896656
8 -1.203063  0.952402  2.100017 -0.893552
9 -0.190508 -0.346025 -0.575513  0.386218