In [14]:
d={'height':180,'weight':78,'temperature':36,'eyesight':1}

In [32]:
h=d.values()
k=d.keys()
 for i in h:
    if (i=78): 
print(k)

IndentationError: unexpected indent (<ipython-input-32-8ef0119b76bb>, line 3)

dict_values([180, 78, 36, 1])

In [42]:
d={'height':180,'weight':78,'temperature':36,'eyesight':1}

'eyesight'

In [35]:
d={'height':180,'weight':78,'temperature':36,'eyesight':1}

for i in d.items():
    if i[1]==78:
        print('key=',i[0])
        break

key= weight

In [41]:
for i in d.items():
     print(i)

m=i[0]
m

('height', 180)
('weight', 78)
('temperature', 36)
('eyesight', 1)

'eyesight'

In [46]:
d={'height':180,'weight':78,'temperature':36,'eyesight':1}

In [47]:
for i in d.items():
    print('i=',i,'i[0=]',i[0],'i[1]=',i[1])

i= ('height', 180) i[0=] height i[1]= 180
i= ('weight', 78) i[0=] weight i[1]= 78
i= ('temperature', 36) i[0=] temperature i[1]= 36
i= ('eyesight', 1) i[0=] eyesight i[1]= 1

In [52]:
d={'1반':[60,80,30],'2반':[78,54,98],'3반':[100,50,70],'4반':[70,60,80]}
# item하면 '1반:[60,80,30]'이고, 여기서 i[0]=1반

In [53]:
for i in d.items():
    print('국어=',i[1][0],'영어=',i[1][1],'수학=',i[1][2])

국어= 60 영어= 80 수학= 30
국어= 78 영어= 54 수학= 98
국어= 100 영어= 50 수학= 70
국어= 70 영어= 60 수학= 80

In [55]:
for i in d.items():
    if i[1][1]==50:
        print('key=',i[0])
        break

key= 3반

In [62]:
def sum_n(n):
     return n(n+1)/2

10

In [8]:
def sum_n(n):
    k=list(range(1,n))
    for n in k:
        print(sum_n(10))

In [73]:
def sum_n(n):
    sum=0
    for i in range(1,n+1):
         sum=sum+i
    return sum

In [74]:
print(sum_n(10))

55

In [1]:
list(range(1,5))

[1, 2, 3, 4]

In [3]:
def sum_n(n)

SyntaxError: invalid syntax (<ipython-input-3-8b1e81bf1692>, line 1)

In [16]:
def sum_n(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    return sum

In [17]:
print(sum_n(100))

5050

In [54]:
total_price=0
ages=[22,21,17,32,4,28,18,8]
for i in ages:
    if i>=20 :
        total_price=total_price+8000
    elif i>=10:
         total_price=total_price+5000
    else:
         total_price=total_price+2500
            
print(total_price)

47000

In [48]:
k=list(range(1,101))
m=str(k)

In [49]:
m.count("8")

20

In [64]:
score=[70,60,55,70,95,90,80,80,85,100]
total=0
for i in score:
    total=total+i

average=total//len(score)
print(average)

78

In [67]:
print(str(list(range(1,101))).count('8'))

20

In [69]:
for i in range(1,101): 
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [74]:
name=['홍길동','이성순신','이성계']
res=''.join(name)
res

'홍길동이성순신이성계'

In [75]:
res.count('이성')

2

In [82]:
d="a:b:c:d"
k=d.split(':')
k

['a', 'b', 'c', 'd']

In [83]:
"#".join(k)

'a#b#c#d'

In [84]:
import pandas as pd

In [86]:
a=pd.DataFrame({'country':['벨기에','인도','브라질'],
                 "capital":['브뤼셀','뉴델리','브라질리아'],
                 'population':['1천만명','13억명','2억명']})

  country capital population
0     벨기에     브뤼셀       1천만명
1      인도     뉴델리       13억명
2     브라질   브라질리아        2억명

In [144]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum=0
for i in A:
    if i>50:
        print(i)
    sum=sum+i
print(sum)

55
67
82
90
87
100
604

In [130]:
print(total)

25

In [105]:
a.Series[2]

AttributeError: 'DataFrame' object has no attribute 'Series'

In [116]:
a['population'][1]='14억명'
a

  country capital population
0     벨기에     브뤼셀       1천만명
1      인도     뉴델리       14억명
2     브라질   브라질리아        2억명

In [119]:
#위치를 알고있을때
a.iloc[1,2]="14억명"
a

  country capital population
0     벨기에     브뤼셀       1천만명
1      인도     뉴델리       14억명
2     브라질   브라질리아        2억명

In [120]:
#위치 찾기 힘들때(좌표찾기 힘들때)
a.loc[1,'population']

'14억명'