In [2]:
.read_cvs

SyntaxError: invalid syntax (<ipython-input-2-49a6cf4f7c2e>, line 1)

In [3]:
total=0
for i in range(1,11):
    total+=i
print(total)

55

In [119]:
import pandas as pd

test_score={'홍길동':[90,85,77,80],
            '이순신':[88,96,56,60],
            '허준':[56,53,64,66],
            '문익점':[76,89,39,70]}

score=pd.DataFrame(test_score)

mean=score.mean()
mean

홍길동    83.00
이순신    75.00
허준     59.75
문익점    68.50
dtype: float64

In [75]:
score.min()

홍길동    77
이순신    56
허준     53
문익점    39
dtype: int64

In [71]:
score.max()

홍길동    90
이순신    96
허준     66
문익점    89
dtype: int64

In [89]:
for i in score.values():
    if mean>60 and i>40:
        print('합격=',i)

TypeError: 'numpy.ndarray' object is not callable

In [180]:
score=pd.DataFrame(test_score,index=['국어','수학','영어','과학'])
score

    홍길동  이순신  허준  문익점
국어   90   88  56   76
수학   85   96  53   89
영어   77   56  64   39
과학   80   60  66   70

In [88]:
score.mean(axis=1)

0    77.50
1    80.75
2    59.00
3    69.00
dtype: float64

In [166]:
score2=score.T

for i in score2[0:1]:
    if i>40 and >60:
        print('pass')
    else:print('fail')

fail
fail
fail
fail

In [169]:
for m in score:
for i in score[0:m]:
    if i>40 and score[0]

IndentationError: expected an indented block (<ipython-input-169-5fe43e34e8d2>, line 2)

In [161]:
score2

      0   1   2   3
홍길동  90  85  77  80
이순신  88  96  56  60
허준   56  53  64  66
문익점  76  89  39  70

In [176]:
exam_result=[]
for exam_score in test_score.items():
    print('examscore=',exam_score)
    name=exam_score[0]
    score=exam_score[1]
    avg=sum(score)/len(score)
    if(avg>60 and min(score)>40):
        exam_result.append(name)
    print('이름=',name,'평균=',avg,'최고=',max(score),'최소=',min(score))

print('합격자=',exam_result)

examscore= ('홍길동', [90, 85, 77, 80])
이름= 홍길동 평균= 83.0 최고= 90 최소= 77
examscore= ('이순신', [88, 96, 56, 60])
이름= 이순신 평균= 75.0 최고= 96 최소= 56
examscore= ('허준', [56, 53, 64, 66])
이름= 허준 평균= 59.75 최고= 66 최소= 53
examscore= ('문익점', [76, 89, 39, 70])
이름= 문익점 평균= 68.5 최고= 89 최소= 39
합격자= ['홍길동', '이순신']

In [178]:
print('합계',score[0]+score[2]+score[3]+score[1])

합계 274

In [179]:
class_max=[100,100,100,100]
class_min=[0,0,0,0]
for student,exam_score in enumerate(test_score.items())
    if student==0:
        class_max=exam_score[1][:]
        class_min=exam_score[1][:]
    for subject,score in enumerate(exam_score[1]):
        if class_max[subject]<score
         class_max[subject]<score
             if class_min[subject]<score
                class_max[subject]<score

                print(class_max)
                print(class_min)

SyntaxError: invalid syntax (<ipython-input-179-fb3c6610cb59>, line 3)

In [181]:
score=pd.DataFrame(test_score,index=['국어','수학','영어','과학'])
score

    홍길동  이순신  허준  문익점
국어   90   88  56   76
수학   85   96  53   89
영어   77   56  64   39
과학   80   60  66   70

In [186]:
score2['평균']=""
score2['최고']=""
score2['최저']=""
score2['합격유무']=""
score2

      0   1   2   3 평균 최고 최저 합격유무
홍길동  90  85  77  80
이순신  88  96  56  60
허준   56  53  64  66
문익점  76  89  39  70

In [194]:
for row in range(0,len(score)):
    score2.iloc[row,4]=mean(row[0:1])

TypeError: 'int' object is not subscriptable

In [ ]:
#hello.py